* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "roboto";
}

@font-face {
  font-family: "pixel";
  src: url("../../assets/font/VCR_OSD_MONO_1.001.ttf");
}
html {
  min-height: 160vh;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
html body {
  height: 100%;
  background-image: url("../assets/img/fondo.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  display: flex;
  flex-direction: column;
}
html body nav {
  width: 100%;
  height: 60px;
  background-color: #003459;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body nav .logoContainer {
  margin-left: 30px;
}
html body nav .logoContainer img {
  width: 150px;
  object-fit: cover;
}
html body nav .navMid {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
html body nav .navMid ul {
  display: flex;
  align-items: center;
}
html body nav .navMid ul li {
  color: #f8f8f8;
  display: flex;
  margin: 10px;
  cursor: pointer;
  font-weight: 400;
}
html body nav .navMid .navEnd {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body nav .navMid .navEnd i {
  margin: 15px;
  font-size: 23px;
  color: #f8f8f8;
  cursor: pointer;
}
html body nav .navMid .navEnd .cartContainer {
  position: relative;
}
html body nav .navMid .navEnd .cartContainer .cartCircle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #b3b3b3;
  border-radius: 50%;
  top: 30%;
  right: 32%;
  transform: translate(50%, -50%);
}
html body nav .navMid .navEnd .cartContainer .cartCircle span {
  color: #f8f8f8;
  font-size: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html body main {
  flex: 1;
}

@media (max-width: 737px) {
  body nav {
    display: block;
    height: auto;
  }
  body nav .logoContainer {
    text-align: center;
  }
  body nav .logoContainer img {
    padding-top: 10px;
    width: 150px;
  }
  body nav ul {
    justify-content: center;
  }
  body nav ul li {
    display: flex;
    margin: 8px;
    cursor: pointer;
  }
}
@keyframes exit-left-animation {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) translateX(-100%);
  }
}
@keyframes enter-right-animation {
  0% {
    opacity: 0;
    transform: scale(0.9) translateX(100%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
body .sectionsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .sectionsContainer .section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9) translateX(100%);
  transition: opacity 0s, transform 2s; /* Resetea las transiciones para usar animaciones en lugar de transiciones */
}
body .sectionsContainer .section.active {
  opacity: 1;
  transform: scale(1) translateX(0);
}
body .sectionsContainer .section.exit-left {
  animation: exit-left-animation 2s ease-out forwards;
}
body .sectionsContainer .section.enter-right {
  animation: enter-right-animation 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

body #section2 .repuestosContainerMain {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
}
body #section2 .repuestosContainerMain .titleRepuestosContainer {
  font-size: 200px;
  margin: 15px 15px 0px 15px;
}
body #section2 .repuestosContainerMain .titleRepuestosContainer .titleRepuestos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section2 .repuestosContainerMain .textRepuestos {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section2 .repuestosContainerMain .buscadorContainerRepuestos {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
body #section2 .repuestosContainerMain .buscadorContainerRepuestos input {
  width: 60%;
  height: 30px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
}
body #section2 .repuestosContainerMain .buscadorContainerRepuestos input::placeholder {
  color: #c5c5c5;
}
body #section2 .repuestosContainerMain .categoriasContainer {
  display: flex;
  justify-content: center;
}
body #section2 .repuestosContainerMain .categoriasContainer ul {
  display: flex;
}
body #section2 .repuestosContainerMain .categoriasContainer ul li {
  margin: 8px 12px;
  color: #787878;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
}
body #section2 .repuestosContainerMain .categoriasContainer ul li:hover {
  transform: scale(1.05);
  color: #454545;
}
body #section2 .repuestosContainerMain .repuestosCarrousell {
  position: relative;
  width: 100%;
  overflow: hidden;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer {
  box-shadow: none;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 98%;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer::-webkit-scrollbar {
  display: none;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .noHayRepuestos {
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .noHayRepuestos p {
  color: #c5c5c5;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
  pointer-events: auto;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer img {
  width: 100%;
  cursor: pointer;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail {
  display: flex;
  margin: 3px 5px;
  white-space: nowrap;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoNombre {
  font-size: auto;
  padding-right: 3px;
  font-weight: 450;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoNombre .repuestoMarca {
  font-size: auto;
  font-weight: 400;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer {
  display: flex;
  margin: 3px 5px;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecio {
  font-size: auto;
  font-weight: 500;
  color: rgb(15, 200, 15);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecioCart {
  margin-left: 5px;
  pointer-events: auto;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecioCart .fa-cart-plus {
  font-size: 14px;
  color: rgb(56, 162, 208);
  cursor: pointer;
  transform: translateY(-1px);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

body #section1 .serviceContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
  height: 100%;
}
body #section1 .serviceContainer .titleServiceContainer {
  margin: 15px 15px 0px 15px;
}
body #section1 .serviceContainer .titleServiceContainer .titleService {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section1 .serviceContainer .textService {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section1 .serviceContainer .serviceMarcasCarrousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 99.9%;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer::-webkit-scrollbar {
  display: none;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer .marcaContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer .marcaContainer img {
  width: 100%;
  filter: sepia(1) saturate(0) brightness(0.5);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.1;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.1;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

body #section3 .equiposContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
}
body #section3 .equiposContainer .titleEquipos {
  margin: 15px 15px 0px 15px;
}
body #section3 .equiposContainer .titleEquipos .titleSabemos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section3 .equiposContainer .textEquipos {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section3 .equiposContainer .buscadorContainerEquipos {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
body #section3 .equiposContainer .buscadorContainerEquipos input {
  width: 60%;
  height: 30px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
}
body #section3 .equiposContainer .buscadorContainerEquipos input::placeholder {
  color: #c5c5c5;
}
body #section3 .equiposContainer .categoriasContainer {
  display: flex;
  justify-content: center;
}
body #section3 .equiposContainer .categoriasContainer ul {
  display: flex;
}
body #section3 .equiposContainer .categoriasContainer ul li {
  margin: 8px 12px;
  color: #787878;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
}
body #section3 .equiposContainer .categoriasContainer ul li:hover {
  transform: scale(1.05);
  color: #454545;
}
body #section3 .equiposContainer .productosCarrousell {
  position: relative;
  width: 100%;
  overflow: hidden;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 98%;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer::-webkit-scrollbar {
  display: none;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .noHayProductos {
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .noHayProductos p {
  color: #c5c5c5;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .imgContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .imgContainer img {
  cursor: pointer;
  width: 100%;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail {
  margin: 5px;
  white-space: nowrap;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoCategoria {
  font: 10px;
  margin: -3px 0px -1px 0px;
  color: #787878;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoTitle {
  display: flex;
  align-items: center;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoTitle .productoMarca {
  font-size: auto;
  padding-right: 6px;
  font-weight: 450;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoTitle .productoModelo {
  font-size: auto;
  font-weight: 350;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoPrecioContainer {
  display: flex;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoPrecioContainer .productoPrecio {
  font-size: auto;
  font-weight: 500;
  color: rgb(15, 200, 15);
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoPrecioContainer .productoPrecioCart {
  margin-left: 5px;
  pointer-events: auto;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoPrecioContainer .productoPrecioCart .fa-cart-plus {
  font-size: 14px;
  color: rgb(56, 162, 208);
  cursor: pointer;
  transform: translateY(-1px);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

body #section4 .clientesContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 45px;
  height: 100vh;
}
body #section4 .clientesContainer .titleClientes {
  margin: 15px 15px 0px 15px;
}
body #section4 .clientesContainer .titleClientes .titleSabemos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section4 .clientesContainer .textClientes {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section4 .clientesContainer .opinionesContainer {
  margin: 15px;
  max-height: 60vh;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-container {
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  padding: 10px;
  height: 10%;
  display: flex;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-rating {
  padding-left: 20px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-review-background-container {
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  padding: 10px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .eWYNAh {
  margin-bottom: 8px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html body footer {
  width: 100%;
  height: 90px;
  background-color: #003459;
  display: flex;
  justify-content: space-around;
}
html body footer .primerBloque {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body footer .primerBloque img {
  width: 70%;
}
html body footer .segundoBloque {
  width: 40%;
  height: auto;
}
html body footer .tercerBloque {
  width: 30%;
  height: auto;
  color: #f8f8f8;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body footer .tercerBloque i {
  margin: 5px;
  cursor: pointer;
}
html body .copyR {
  width: 100%;
  height: 13px;
  background-color: #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .copyR p {
  font-family: "pixel";
  color: #787878;
  font-size: 10px;
}

body #section5 .userContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
}
body #section5 .userContainer .titleUser {
  font-size: 18px;
  color: #003459;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}
body #section5 .userContainer .formsLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body #section5 .userContainer .formsLogin .inputUser {
  width: 70%;
  height: 27px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
  margin-top: 15px;
}
body #section5 .userContainer .formsLogin .inputUser::placeholder {
  color: #c5c5c5;
}
body #section5 .userContainer .formsLogin .olvideMiContra {
  font-size: 10px;
  margin-top: 10px;
  color: rgb(82, 7, 179);
  text-decoration: underline;
  text-decoration-color: rgb(82, 7, 179);
  text-decoration-thickness: 0.7px;
  text-underline-offset: 1px;
  cursor: pointer;
}
body #section5 .userContainer .formsLogin .login {
  width: 70%;
  height: 27px;
  background: linear-gradient(90deg, #003459, #001b28, #003459);
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  font-size: 17px;
  color: #f8f8f8;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
body #section5 .userContainer .formsLogin .login:hover {
  transform: translateY(0.5px);
}
body #section5 .userContainer .formsLogin .login:active {
  background: linear-gradient(90deg, #001b28, #003459, #001b28);
  transform: translateY(0px);
}

body #section6 .cartContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
