* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "roboto";
}

@font-face {
  font-family: "pixel";
  src: url("../../assets/font/VCR_OSD_MONO_1.001.ttf");
}
html {
  min-height: 160vh;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
html body {
  height: 100%;
  background-image: url("../assets/img/fondo.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  display: flex;
  flex-direction: column;
}
html body nav {
  width: 100%;
  height: 60px;
  background-color: #003459;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body nav .logoContainer {
  margin-left: 30px;
}
html body nav .logoContainer img {
  width: 150px;
  object-fit: cover;
}
html body nav .navMid {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
html body nav .navMid ul {
  display: flex;
  align-items: center;
}
html body nav .navMid ul li {
  color: #f8f8f8;
  display: flex;
  margin: 10px;
  cursor: pointer;
  font-weight: 400;
}
html body nav .navMid .navEnd {
  display: flex;
  align-items: center;
  justify-content: center;
}
html body nav .navMid .navEnd i {
  margin: 15px;
  font-size: 23px;
  color: #f8f8f8;
  cursor: pointer;
}
html body nav .navMid .navEnd .cartContainer {
  position: relative;
  cursor: pointer;
}
html body nav .navMid .navEnd .cartContainer .cartCircle {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #b3b3b3;
  border-radius: 50%;
  top: 30%;
  right: 32%;
  transform: translate(50%, -50%);
}
html body nav .navMid .navEnd .cartContainer .cartCircle span {
  color: #f8f8f8;
  font-size: 10px;
  font-weight: 650;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
html body main {
  flex: 1;
}

@media (max-width: 737px) {
  html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  html body {
    height: 100vh;
    background-image: url("../assets/img/fondo.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  html body nav {
    width: 100%;
    height: 99px;
    background-color: #003459;
    display: block;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  html body nav .logoContainer {
    margin: 5px;
  }
  html body nav .logoContainer img {
    width: 150px;
    object-fit: cover;
  }
  html body nav .navMid {
    display: block;
    justify-content: center;
    width: 100%;
  }
  html body nav .navMid ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  html body nav .navMid ul li {
    color: #f8f8f8;
    display: flex;
    margin: 10px;
    cursor: pointer;
    font-weight: 400;
  }
  html body nav .navMid .navEnd {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@keyframes exit-left-animation {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) translateX(-100%);
  }
}
@keyframes enter-right-animation {
  0% {
    opacity: 0;
    transform: scale(0.9) translateX(100%);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
body .sectionsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .sectionsContainer .section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9) translateX(100%);
  transition: opacity 0s, transform 2s; /* Resetea las transiciones para usar animaciones en lugar de transiciones */
}
body .sectionsContainer .section.active {
  opacity: 1;
  transform: scale(1) translateX(0);
}
body .sectionsContainer .section.exit-left {
  animation: exit-left-animation 2s ease-out forwards;
}
body .sectionsContainer .section.enter-right {
  animation: enter-right-animation 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@media (max-width: 737px) {
  body .sectionsContainer {
    width: 100%;
    height: 80vh;
    overflow: hidden;
  }
  body .sectionsContainer .section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.9) translateX(100%);
    transition: opacity 0s, transform 2s;
  }
  body .sectionsContainer .section.active {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  body .sectionsContainer .section.exit-left {
    animation: exit-left-animation 2s ease-out forwards;
  }
  body .sectionsContainer .section.enter-right {
    animation: enter-right-animation 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }
}
body #section2 .repuestosContainerMain {
  height: auto;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 20px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
  min-height: 72vh;
}
body #section2 .repuestosContainerMain .titleRepuestosContainer {
  margin: 15px 15px 0px 15px;
}
body #section2 .repuestosContainerMain .titleRepuestosContainer .titleRepuestos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section2 .repuestosContainerMain .textRepuestos {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #787878;
  font-size: 15px;
}
body #section2 .repuestosContainerMain .buscadorContainerRepuestos {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
body #section2 .repuestosContainerMain .buscadorContainerRepuestos input {
  width: 60%;
  height: 30px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
}
body #section2 .repuestosContainerMain .buscadorContainerRepuestos input::placeholder {
  color: #c5c5c5;
}
body #section2 .repuestosContainerMain .categoriasContainer {
  display: flex;
  justify-content: center;
}
body #section2 .repuestosContainerMain .categoriasContainer ul {
  display: flex;
}
body #section2 .repuestosContainerMain .categoriasContainer ul .categoriasContainerBloque01 {
  display: flex;
}
body #section2 .repuestosContainerMain .categoriasContainer ul .categoriasContainerBloque02 {
  display: flex;
}
body #section2 .repuestosContainerMain .categoriasContainer ul li {
  margin: 8px 12px;
  color: #787878;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
}
body #section2 .repuestosContainerMain .categoriasContainer ul li:hover {
  transform: scale(1.05);
  color: #454545;
}
body #section2 .repuestosContainerMain .repuestosCarrousell {
  position: relative;
  width: 100%;
  overflow: hidden;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer {
  box-shadow: none;
  border: none;
  border-radius: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 98%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer::-webkit-scrollbar {
  display: none;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .noHayRepuestos {
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .noHayRepuestos p {
  color: #c5c5c5;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
  pointer-events: auto;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer img {
  width: 100%;
  cursor: pointer;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail {
  display: flex;
  margin: 3px 5px;
  white-space: nowrap;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoNombre {
  font-size: auto;
  padding-right: 3px;
  font-weight: 450;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoNombre .repuestoMarca {
  font-size: auto;
  font-weight: 400;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer {
  display: flex;
  margin: 3px 5px;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecio {
  font-size: auto;
  font-weight: 500;
  color: rgb(15, 200, 15);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecioCart {
  margin-left: 5px;
  pointer-events: auto;
}
body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecioCart .fa-cart-plus {
  font-size: 14px;
  color: rgb(56, 162, 208);
  cursor: pointer;
  transform: translateY(-1px);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

@media (max-width: 737px) {
  body #section2 {
    height: 100vh;
    height: auto;
  }
  body #section2 .repuestosContainerMain {
    overflow-y: auto;
    width: 75%;
    margin: 20px 0px;
    padding-bottom: 5px;
    justify-content: center;
  }
  body #section2 .repuestosContainerMain .staticMobile {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 5px;
  }
  body #section2 .repuestosContainerMain .staticMobile .titleRepuestosContainer {
    margin: 10px 10px 0px 10px;
  }
  body #section2 .repuestosContainerMain .staticMobile .titleRepuestosContainer .titleRepuestos {
    font-size: 18px;
    font-weight: 550;
  }
  body #section2 .repuestosContainerMain .staticMobile .textRepuestos {
    color: #787878;
    font-size: 12px;
    margin: 0px 10px 0px 10px;
  }
  body #section2 .repuestosContainerMain .staticMobile .buscadorContainerRepuestos {
    margin: 0px;
  }
  body #section2 .repuestosContainerMain .staticMobile .buscadorContainerRepuestos input {
    width: 80%;
    height: 30px;
    margin: 5px;
  }
  body #section2 .repuestosContainerMain .staticMobile .buscadorContainerRepuestos input::placeholder {
    color: #c5c5c5;
  }
  body #section2 .repuestosContainerMain .staticMobile .categoriasContainer {
    display: flex;
    justify-content: center;
  }
  body #section2 .repuestosContainerMain .staticMobile .categoriasContainer ul {
    display: flex;
    flex-direction: column;
  }
  body #section2 .repuestosContainerMain .staticMobile .categoriasContainer ul .categoriasContainerBloque01 {
    display: flex;
  }
  body #section2 .repuestosContainerMain .staticMobile .categoriasContainer ul .categoriasContainerBloque02 {
    display: flex;
  }
  body #section2 .repuestosContainerMain .staticMobile .categoriasContainer ul li {
    margin: 2px 5px;
    font-size: 10px;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    position: relative;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer::-webkit-scrollbar {
    display: block;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .noHayRepuestos {
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .noHayRepuestos p {
    color: #c5c5c5;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer {
    width: 50%;
    margin: 5px;
    flex: auto;
    overflow-x: hidden;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer {
    width: 100%;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer img {
    width: 100%;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail {
    display: block;
    margin: 3px 5px;
    white-space: nowrap;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoNombre {
    font-size: auto;
    padding-right: 3px;
    font-weight: 450;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoNombre .repuestoMarca {
    font-size: auto;
    font-weight: 400;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer {
    display: flex;
    margin: 3px 5px;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecio {
    font-size: auto;
    font-weight: 500;
    color: rgb(15, 200, 15);
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecioCart {
    margin-left: 5px;
    pointer-events: auto;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoPrecioContainer .repuestoPrecioCart .fa-cart-plus {
    font-size: 14px;
    color: rgb(56, 162, 208);
    cursor: pointer;
    transform: translateY(-1px);
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-left {
    display: none;
  }
  body #section2 .repuestosContainerMain .repuestosCarrousell .bx-chevron-right {
    display: none;
  }
}
body #section1 .serviceContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 20px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
  height: 100%;
}
body #section1 .serviceContainer .titleServiceContainer {
  margin: 15px 15px 0px 15px;
}
body #section1 .serviceContainer .titleServiceContainer .titleService {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section1 .serviceContainer .textService {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section1 .serviceContainer .serviceMarcasCarrousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 99.9%;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer::-webkit-scrollbar {
  display: none;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer .marcaContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #section1 .serviceContainer .serviceMarcasCarrousel .serviceMarcasContainer .marcaContainer img {
  width: 100%;
  filter: sepia(1) saturate(0) brightness(0.5);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.1;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.1;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section1 .serviceContainer .serviceMarcasCarrousel .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

body #section3 .equiposContainerMain {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 20px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
}
body #section3 .equiposContainerMain .titleEquipos {
  margin: 15px 15px 0px 15px;
}
body #section3 .equiposContainerMain .titleEquipos .titleSabemos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section3 .equiposContainerMain .textEquipos {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section3 .equiposContainerMain .buscadorContainerEquipos {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
body #section3 .equiposContainerMain .buscadorContainerEquipos input {
  width: 60%;
  height: 30px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
}
body #section3 .equiposContainerMain .buscadorContainerEquipos input::placeholder {
  color: #c5c5c5;
}
body #section3 .equiposContainerMain .categoriasContainer {
  display: flex;
  justify-content: center;
}
body #section3 .equiposContainerMain .categoriasContainer .categoriasContainerBloque01 {
  display: flex;
}
body #section3 .equiposContainerMain .categoriasContainer .categoriasContainerBloque02 {
  display: flex;
}
body #section3 .equiposContainerMain .categoriasContainer ul {
  display: flex;
}
body #section3 .equiposContainerMain .categoriasContainer ul li {
  margin: 8px 12px;
  color: #787878;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
}
body #section3 .equiposContainerMain .categoriasContainer ul li:hover {
  transform: scale(1.05);
  color: #454545;
}
body #section3 .equiposContainerMain .equiposCarrousell {
  position: relative;
  width: 100%;
  overflow: hidden;
  pointer-events: auto;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 98%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer::-webkit-scrollbar {
  display: none;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .noHayEquipos {
  width: 100%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .noHayEquipos p {
  color: #c5c5c5;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .imgContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  pointer-events: auto;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .imgContainer img {
  cursor: pointer;
  width: 100%;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail {
  margin: 5px;
  white-space: nowrap;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoCategoria {
  font: 10px;
  margin: -3px 0px -1px 0px;
  color: #787878;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoTitle {
  display: flex;
  align-items: center;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoTitle .equipoMarca {
  font-size: auto;
  padding-right: 6px;
  font-weight: 450;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoTitle .equipoModelo {
  font-size: auto;
  font-weight: 350;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoPrecioContainer {
  display: flex;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoPrecioContainer .equipoPrecio {
  font-size: auto;
  font-weight: 500;
  color: rgb(15, 200, 15);
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoPrecioContainer .equipoPrecioCart {
  margin-left: 5px;
  pointer-events: auto;
}
body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .equipoDetail .equipoPrecioContainer .equipoPrecioCart .fa-cart-plus {
  font-size: 14px;
  color: rgb(56, 162, 208);
  cursor: pointer;
  transform: translateY(-1px);
}
body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

@media (max-width: 737px) {
  body #section3 {
    height: auto;
  }
  body #section3 .equiposContainerMain {
    overflow-y: auto;
    width: 75%;
    margin: 20px 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  body #section3 .equiposContainerMain .staticMobile {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-bottom: 5px;
  }
  body #section3 .equiposContainerMain .staticMobile .titleEquiposContainer {
    margin: 10px 10px 0px 10px;
  }
  body #section3 .equiposContainerMain .staticMobile .titleEquiposContainer .titleEquipos {
    font-size: 18px;
    font-weight: 550;
  }
  body #section3 .equiposContainerMain .staticMobile .textEquipos {
    color: #787878;
    font-size: 11px;
    margin: 0px 10px 0px 10px;
  }
  body #section3 .equiposContainerMain .staticMobile .buscadorContainerEquipos {
    margin: 0px;
  }
  body #section3 .equiposContainerMain .staticMobile .buscadorContainerEquipos input {
    width: 80%;
    height: 30px;
    margin: 5px;
  }
  body #section3 .equiposContainerMain .staticMobile .buscadorContainerEquipos input::placeholder {
    color: #c5c5c5;
  }
  body #section3 .equiposContainerMain .staticMobile .categoriasContainer {
    display: flex;
    justify-content: center;
  }
  body #section3 .equiposContainerMain .staticMobile .categoriasContainer ul {
    display: flex;
    flex-direction: column;
  }
  body #section3 .equiposContainerMain .staticMobile .categoriasContainer ul .categoriasContainerBloque01 {
    display: flex;
  }
  body #section3 .equiposContainerMain .staticMobile .categoriasContainer ul .categoriasContainerBloque02 {
    display: flex;
  }
  body #section3 .equiposContainerMain .staticMobile .categoriasContainer ul li {
    margin: 2px 5px;
    font-size: 10px;
  }
  body #section3 .equiposContainerMain .equiposCarrousell {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    position: relative;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer::-webkit-scrollbar {
    display: block;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .noHayEquipos {
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .noHayEquipos p {
    color: #c5c5c5;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer {
    width: 50%;
    margin: 5px;
    flex: auto;
    overflow-x: hidden;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .imgContainer {
    width: 100%;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .equiposContainer .equipoContainer .imgContainer img {
    width: 100%;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-left {
    display: none;
  }
  body #section3 .equiposContainerMain .equiposCarrousell .bx-chevron-right {
    display: none;
  }
}
body #section4 .clientesContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 20px;
  backdrop-filter: blur(2px);
  padding-bottom: 45px;
  height: 100vh;
}
body #section4 .clientesContainer .titleClientes {
  margin: 15px 15px 0px 15px;
}
body #section4 .clientesContainer .titleClientes .titleSabemos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section4 .clientesContainer .textClientes {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section4 .clientesContainer .opinionesContainer {
  margin: 15px;
  max-height: 60vh;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-container {
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  padding: 10px;
  height: 10%;
  display: flex;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-rating {
  padding-left: 20px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-review-background-container {
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  padding: 10px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .eWYNAh {
  margin-bottom: 8px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 737px) {
  body #section4 .clientesContainer {
    width: 75%;
    margin: 20px;
    margin-bottom: -5px;
    height: 75vh;
  }
  body #section4 .clientesContainer .titleClientes {
    margin: 10px 10px 0px 10px;
  }
  body #section4 .clientesContainer .titleClientes .titleSabemos {
    font-size: 18px;
    font-weight: 550;
  }
  body #section4 .clientesContainer .textClientes {
    color: #787878;
    font-size: 11px;
    margin: 0px 10px 0px 10px;
  }
  body #section4 .clientesContainer .opinionesContainer {
    margin: 10px;
    height: 70vh;
    overflow: hidden;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 {
    margin-bottom: 10px;
    position: static;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 {
    z-index: 5;
    padding: 2.5px;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 {
    margin: 0px;
    width: 100%;
    justify-content: inherit;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 .Icon__IconContainer-sc-11wrh3u-0 {
    width: 70px;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 .Icon__IconContainer-sc-11wrh3u-0 .injected-svg {
    width: 100%;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 .HeaderRating__RatingContainer-sc-117jf4y-0 {
    margin-left: 5px;
    flex-wrap: nowrap;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 .HeaderRating__RatingContainer-sc-117jf4y-0 .Rating__Container-sc-bk54oq-0 {
    padding-left: 0px;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 .HeaderRating__RatingContainer-sc-117jf4y-0 .Rating__Container-sc-bk54oq-0 .RatingValue__Container-sc-fl6036-0 {
    font-size: 15px;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 .HeaderRating__RatingContainer-sc-117jf4y-0 .Rating__Container-sc-bk54oq-0 .RatingBar__Container-sc-qimg51-0 {
    width: auto;
  }
  body #section4 .clientesContainer .opinionesContainer .Main__Content-sc-1oq93m5-1 .HeaderComponent__Top-sc-9lcg5s-2 .HeaderContainer__Inner-sc-1532ffp-0 .HeaderInfoContainer__Info-sc-16jx15e-0 .HeaderRating__RatingContainer-sc-117jf4y-0 .Rating__Container-sc-bk54oq-0 .RatingBar__Container-sc-qimg51-0 .RatingItemFilledSvg__ContainerAbsolute-sc-14jss50-1 {
    width: auto;
    margin: 0px;
  }
}
html body footer {
  width: 100%;
  height: 90px;
  background-color: #003459;
  display: flex;
  justify-content: space-around;
}
html body footer .primerBloque {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body footer .primerBloque img {
  width: 70%;
}
html body footer .segundoBloque {
  width: 40%;
  height: auto;
}
html body footer .tercerBloque {
  width: 30%;
  height: auto;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body footer .tercerBloque a i {
  color: #f8f8f8;
  margin: 5px;
  cursor: pointer;
}
html body footer .tercerBloque a .fa-location-dot {
  font-size: 27px;
  margin: 10px;
}
html body .copyR {
  width: 100%;
  height: 13px;
  background-color: #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .copyR p {
  font-family: "pixel";
  color: #787878;
  font-size: 10px;
}

body #section5 .userContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 20px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #section5 .userContainer .titleUser {
  font-size: 18px;
  color: #003459;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
}
body #section5 .userContainer .formsLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body #section5 .userContainer .formsLogin .inputUser {
  width: 70%;
  height: 27px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
  margin-top: 15px;
}
body #section5 .userContainer .formsLogin .inputUser::placeholder {
  color: #c5c5c5;
}
body #section5 .userContainer .formsLogin .olvideMiContra {
  font-size: 10px;
  margin-top: 10px;
  color: rgb(82, 7, 179);
  text-decoration: underline;
  text-decoration-color: rgb(82, 7, 179);
  text-decoration-thickness: 0.7px;
  text-underline-offset: 1px;
  cursor: pointer;
}
body #section5 .userContainer .formsLogin .login {
  width: 70%;
  height: 27px;
  background: #003459;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  font-size: 17px;
  color: #f8f8f8;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
body #section5 .userContainer .formsLogin .login:hover {
  transform: translateY(-0.5px);
}
body #section5 .userContainer .formsLogin .login:active {
  transform: translateY(1px);
}
body #section5 .userContainer .oIngresaCon {
  margin: 20px 0px 10px 0px;
  font-size: 12px;
  color: #787878;
}
body #section5 .userContainer .othersLoginContainer {
  width: 70%;
  height: 80px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
body #section5 .userContainer .othersLoginContainer .imgContainer {
  width: 30%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5c5c5;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.062745098);
  border: solid 0.5px #a8a8a8;
  transition: all 0.5s;
}
body #section5 .userContainer .othersLoginContainer .imgContainer:hover {
  box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.062745098), 0px 0px 3px 3px rgba(0, 0, 0, 0.062745098);
}
body #section5 .userContainer .othersLoginContainer .imgContainer:hover {
  box-shadow: none;
}
body #section5 .userContainer .othersLoginContainer .imgContainer:hover .fa-google {
  font-size: 30px;
  color: #003459;
  background: linear-gradient(to right, #4285f4 25%, #34a853 25%, #34a853 50%, #fbbc05 50%, #fbbc05 75%, #ea4335 75%, #ea4335 100%);
  -webkit-background-clip: text;
  background-clip: none;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
body #section5 .userContainer .othersLoginContainer .imgContainer:hover .fa-facebook-f {
  color: #3b5998;
}
body #section5 .userContainer .othersLoginContainer .imgContainer:hover .fa-apple {
  color: #555555;
}
body #section5 .userContainer .othersLoginContainer .imgContainer i {
  font-size: 30px;
  color: #787878;
}

@media (max-width: 737px) {
  body #section5 .userContainer {
    width: 75%;
    margin: 20px 0px;
  }
  body #section5 .userContainer .formsLogin .olvideMiContra {
    margin-top: 10px;
  }
  body #section5 .userContainer .oIngresaCon {
    margin: 20px 0px 10px 0px;
    font-size: 12px;
    color: #787878;
  }
  body #section5 .userContainer .othersLoginContainer {
    width: 70%;
    height: auto;
    flex-direction: column;
    margin-bottom: 0;
  }
  body #section5 .userContainer .othersLoginContainer .imgContainer {
    width: 40%;
    margin: 8px;
  }
}
body #section6 .cartContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 20px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  max-height: 110vh;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
body #section6 .cartContainer .staticMobile {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 5px;
  overflow: hidden;
}
body #section6 .cartContainer .staticMobile .titleCartContainer {
  overflow-x: hidden;
  font-size: 18px;
  color: #003459;
  font-weight: bold;
  text-align: left;
  margin: 20px 20px 10px 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px #c9c9c9 solid;
  display: flex;
  justify-content: space-between;
}
body #section6 .cartContainer .staticMobile .titleCartContainer .iconCarrito {
  display: flex;
}
body #section6 .cartContainer .staticMobile .titleCartContainer .iconCarrito .fa-cart-shopping {
  color: #003459;
  transform: translateY(2px);
  margin-right: 5px;
}
body #section6 .cartContainer .staticMobile .titleCartContainer .items {
  display: flex;
  color: #787878;
  padding-right: 8px;
}
body #section6 .cartContainer .staticMobile .titleCartContainer .items p {
  margin-left: 5px;
}
body #section6 .cartContainer .staticMobile .headerCarrito {
  display: grid;
  grid-template-columns: repeat(6, 1fr) 1fr 1fr;
  align-items: center;
  color: #c5c5c5;
  margin: 0px 40px;
}
body #section6 .cartContainer .staticMobile .headerCarrito .productoHeader p,
body #section6 .cartContainer .staticMobile .headerCarrito .cantidadHeader p,
body #section6 .cartContainer .staticMobile .headerCarrito .precioHeader p {
  margin: 0;
  font-size: 12px;
}
body #section6 .cartContainer .staticMobile .headerCarrito .productoHeader {
  grid-column: span 6;
  text-align: left;
  padding-left: 10px;
}
body #section6 .cartContainer .staticMobile .headerCarrito .cantidadHeader {
  grid-column: span 1;
  text-align: center;
  padding-left: 12px;
}
body #section6 .cartContainer .staticMobile .headerCarrito .precioHeader {
  grid-column: span 1;
  text-align: center;
}
body #section6 .cartContainer .carritoContainer {
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
body #section6 .cartContainer .carritoContainer #carrito {
  margin: 10px 20px;
  overflow-y: auto;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer {
  display: flex;
  height: auto;
  align-items: center;
  border-bottom: 0.5px #c9c9c9 solid;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoImgContainer {
  width: 20%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoImgContainer img {
  border-radius: 5px;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  cursor: pointer;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile {
  display: flex;
  width: 100%;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 {
  width: 80%;
  display: flex;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer {
  width: 50%;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer p {
  color: #787878;
  font-weight: 470;
  white-space: nowrap;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer .productoMarcaModelo {
  display: flex;
  width: 100%;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer .productoMarcaModelo .marca {
  font-size: auto;
  font-weight: 400;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer .productoMarcaModelo .modelo {
  font-weight: 380;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer .productoMarcaModelo p {
  color: #787878;
  margin: 1px;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoDescrip {
  margin: 5px;
  font-size: 10px;
  color: #c5c5c5;
  display: flex;
  width: auto;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer {
  margin: 0px;
  display: flex;
  justify-content: center;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades p {
  margin: 4px;
  color: #787878;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades .fa-circle-minus {
  color: #c5c5c5;
  font-size: 12px;
  cursor: pointer;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades .fa-circle-plus {
  color: #c5c5c5;
  font-size: 12px;
  cursor: pointer;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productoPrecio {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productoPrecio p {
  color: green;
}
body #section6 .cartContainer .carritoContainer #carrito .noHayProductos {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #section6 .cartContainer .carritoContainer #carrito .noHayProductos p {
  color: #c5c5c5;
}
body #section6 .cartContainer .totalCarritoContainer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin: 10px;
}
body #section6 .cartContainer .totalCarritoContainer .totalCarrito {
  border-radius: 5px;
  width: auto;
  background-color: #f8f8f8;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
body #section6 .cartContainer .totalCarritoContainer .totalCarrito p {
  font-size: 15px;
  margin: 0px 0px 0px 10px;
}
body #section6 .cartContainer .totalCarritoContainer .totalCarrito #totalCarrito {
  font-size: 20px;
  color: green;
  margin: 10px;
}
body #section6 .cartContainer .comprarContainer {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  margin: 10px;
  cursor: pointer;
}
body #section6 .cartContainer .comprarContainer .comprar {
  border-radius: 5px;
  width: 20%;
  height: 100%;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  background-color: #3498db;
  box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.6), 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
body #section6 .cartContainer .comprarContainer .comprar:hover {
  background-color: #52be80;
}
body #section6 .cartContainer .comprarContainer .comprar:active {
  box-shadow: none;
  background-color: #2ecc71;
  box-shadow: inset 0px 0px 3px 1px rgba(117, 117, 117, 0.3137254902);
}
body #section6 .cartContainer .comprarContainer .comprar p {
  color: #f8f8f8;
}

@media (max-width: 737px) {
  body #section6 .cartContainer {
    padding-bottom: 0px;
    max-height: 75vh;
    width: 90%;
  }
  body #section6 .cartContainer .staticMobile .titleCartContainer {
    font-size: 16px;
    padding-bottom: 0px;
    overflow: hidden;
    margin: 10px 10px 5px 10px;
  }
  body #section6 .cartContainer .staticMobile .titleCartContainer .iconCarrito .fa-cart-shopping {
    color: #003459;
    transform: translateY(2px);
    margin-right: 5px;
  }
  body #section6 .cartContainer .staticMobile .titleCartContainer .items {
    display: flex;
    color: #787878;
    padding-right: 8px;
  }
  body #section6 .cartContainer .staticMobile .titleCartContainer .items p {
    margin-left: 5px;
  }
  body #section6 .cartContainer .staticMobile .headerCarrito {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 1fr 1fr;
    align-items: center;
    color: #c5c5c5;
    margin: 0px;
  }
  body #section6 .cartContainer .staticMobile .headerCarrito .productoHeader p,
  body #section6 .cartContainer .staticMobile .headerCarrito .cantidadHeader p,
  body #section6 .cartContainer .staticMobile .headerCarrito .precioHeader p {
    font-size: 12px;
  }
  body #section6 .cartContainer .staticMobile .headerCarrito .productoHeader {
    margin-left: 30px;
    padding-left: 0px;
  }
  body #section6 .cartContainer .staticMobile .headerCarrito .cantidadHeader {
    grid-column: span 1;
    text-align: center;
    padding: 0px;
    margin-right: 15px;
  }
  body #section6 .cartContainer .staticMobile .headerCarrito .precioHeader {
    grid-column: span 1;
    text-align: center;
    margin-right: 30px;
  }
  body #section6 .cartContainer .carritoContainer {
    height: 100%;
    max-height: 50vh;
    overflow-y: auto;
    margin: 5px;
  }
  body #section6 .cartContainer .carritoContainer #carrito {
    margin: 0px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer {
    border-bottom: 0.5px #c9c9c9 solid;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoImgContainer {
    width: 25%;
    margin: 0px;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoImgContainer img {
    width: 100%;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile {
    display: flex;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 {
    display: block;
    width: 65%;
    margin: 0px;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer {
    width: 100%;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer .productoNombre {
    padding: -2px;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoNombreContainer p {
    color: #787878;
    font-weight: 470;
    white-space: nowrap;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoMarcaModelo {
    display: flex;
    width: 100%;
    padding: -2px;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoMarcaModelo .marca {
    font-size: auto;
    font-weight: 400;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoMarcaModelo .modelo {
    font-weight: 380;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoMarcaModelo p {
    color: #787878;
    margin: 1px;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque01 .productoDescrip {
    width: 100%;
    font-size: 10px;
    margin: 0;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades p {
    margin: 4px;
    color: #787878;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades .fa-circle-minus {
    color: #c5c5c5;
    font-size: 12px;
    cursor: pointer;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoUnidades .fa-circle-plus {
    color: #c5c5c5;
    font-size: 12px;
    cursor: pointer;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoPrecio {
    border: solid 1px blue;
    width: 100%;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #section6 .cartContainer .carritoContainer #carrito .productoContainer .productoDetailContainer .productoDetailContainerMobile .bloque02 .productosUnidadesContainer .productoPrecio p {
    color: green;
  }
  body #section6 .cartContainer .carritoContainer #carrito .noHayProductos {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body #section6 .cartContainer .carritoContainer #carrito .noHayProductos p {
    color: #c5c5c5;
  }
  body #section6 .cartContainer .totalCarritoContainer {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin: 10px;
  }
  body #section6 .cartContainer .totalCarritoContainer .totalCarrito {
    border-radius: 5px;
    width: auto;
    background-color: #f8f8f8;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  body #section6 .cartContainer .totalCarritoContainer .totalCarrito p {
    font-size: 15px;
    margin: 0px 0px 0px 10px;
  }
  body #section6 .cartContainer .totalCarritoContainer .totalCarrito #totalCarrito {
    font-size: 20px;
    color: green;
    margin: 10px;
  }
  body #section6 .cartContainer .comprarContainer {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin: 10px;
    cursor: pointer;
  }
  body #section6 .cartContainer .comprarContainer .comprar {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    background-color: #3498db;
    box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.6), 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
  }
  body #section6 .cartContainer .comprarContainer .comprar:hover {
    background-color: #52be80;
  }
  body #section6 .cartContainer .comprarContainer .comprar:active {
    box-shadow: none;
    background-color: #2ecc71;
    box-shadow: inset 0px 0px 3px 1px rgba(117, 117, 117, 0.3137254902);
  }
  body #section6 .cartContainer .comprarContainer .comprar p {
    color: #f8f8f8;
  }
}

/*# sourceMappingURL=style.css.map */
