* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "roboto";
}

@font-face {
  font-family: "pixel";
  src: url("../../assets/font/VCR_OSD_MONO_1.001.ttf");
}
html {
  min-height: 160vh;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}
html body {
  height: 100%;
  background-image: url("../assets/img/fondo.jpg");
  background-position: center;
  background-repeat: repeat-y;
  background-size: auto;
  display: flex;
  flex-direction: column;
}
html body nav {
  width: 100%;
  height: 60px;
  background-color: #003459;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body nav .logoContainer img {
  width: 150px;
  object-fit: cover;
}
html body nav ul {
  display: flex;
  align-items: center;
}
html body nav ul li {
  color: white;
  display: flex;
  margin: 13px;
  cursor: pointer;
  font-weight: 400;
}
html body main {
  flex: 1;
}

@media (max-width: 737px) {
  body nav {
    display: block;
    height: auto;
  }
  body nav .logoContainer {
    text-align: center;
  }
  body nav .logoContainer img {
    padding-top: 10px;
    width: 150px;
  }
  body nav ul {
    justify-content: center;
  }
  body nav ul li {
    display: flex;
    margin: 8px;
    cursor: pointer;
  }
}
@keyframes exit-left-animation {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.95) translateX(0);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) translateX(-100%);
  }
}
@keyframes enter-right-animation {
  0% {
    opacity: 0;
    transform: scale(0.9) translateX(100%);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.95) translateX(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}
body .sectionsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .sectionsContainer .section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9) translateX(120%);
  transition: opacity 2.5s ease, transform 4s ease;
}
body .sectionsContainer .section.active {
  opacity: 1;
  transform: scale(1) translateX(0);
}
body .sectionsContainer .section.exit-left {
  opacity: 0;
  animation: exit-left-animation 1.5s ease-out forwards;
}
body .sectionsContainer .section.enter-right {
  opacity: 1;
  animation: enter-right-animation 3s ease-in forwards;
}

body #section2 .repuestosContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
}
body #section2 .repuestosContainer .titleRepuestosContainer {
  font-size: 200px;
  margin: 15px 15px 0px 15px;
}
body #section2 .repuestosContainer .titleRepuestosContainer .titleRepuestos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section2 .repuestosContainer .textRepuestos {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section2 .repuestosContainer .buscadorContainerRepuestos {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
body #section2 .repuestosContainer .buscadorContainerRepuestos input {
  width: 60%;
  height: 30px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
}
body #section2 .repuestosContainer .buscadorContainerRepuestos input::placeholder {
  color: #c5c5c5;
}
body #section2 .repuestosContainer .categoriasContainer {
  display: flex;
  justify-content: center;
}
body #section2 .repuestosContainer .categoriasContainer ul {
  display: flex;
}
body #section2 .repuestosContainer .categoriasContainer ul li {
  margin: 8px 12px;
  color: #787878;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
}
body #section2 .repuestosContainer .categoriasContainer ul li:hover {
  transform: scale(1.05);
  color: #454545;
}
body #section2 .repuestosContainer .repuestosCarrousell {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: none;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 98%;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer::-webkit-scrollbar {
  display: none;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .imgContainer img {
  width: 100%;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail {
  margin: 5px;
  white-space: nowrap;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoCategoria {
  font: 10px;
  margin: -3px 0px -1px 0px;
  color: #787878;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoTitle {
  display: flex;
  align-items: center;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoTitle .repuestoMarca {
  font-size: auto;
  padding-right: 6px;
  font-weight: 450;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoTitle .repuestoModelo {
  font-size: auto;
  font-weight: 350;
}
body #section2 .repuestosContainer .repuestosCarrousell .repuestosContainer .repuestoContainer .repuestoDetail .repuestoPrecio {
  font-size: auto;
  font-weight: 500;
  color: rgb(15, 200, 15);
}
body #section2 .repuestosContainer .repuestosCarrousell .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section2 .repuestosContainer .repuestosCarrousell .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainer .repuestosCarrousell .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainer .repuestosCarrousell .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section2 .repuestosContainer .repuestosCarrousell .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section2 .repuestosContainer .repuestosCarrousell .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

body #section1 {
  height: auto;
  border: solid 5px red;
  background-color: red;
}

body #section3 .equiposContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 15px;
  overflow-x: hidden;
}
body #section3 .equiposContainer .titleEquipos {
  margin: 15px 15px 0px 15px;
}
body #section3 .equiposContainer .titleEquipos .titleSabemos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section3 .equiposContainer .textEquipos {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section3 .equiposContainer .buscadorContainerEquipos {
  display: flex;
  justify-content: center;
  margin: 10px 0px 0px 0px;
}
body #section3 .equiposContainer .buscadorContainerEquipos input {
  width: 60%;
  height: 30px;
  background-color: #f8f8f8;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  border-radius: 20px;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  color: #787878;
}
body #section3 .equiposContainer .buscadorContainerEquipos input::placeholder {
  color: #c5c5c5;
}
body #section3 .equiposContainer .categoriasContainer {
  display: flex;
  justify-content: center;
}
body #section3 .equiposContainer .categoriasContainer ul {
  display: flex;
}
body #section3 .equiposContainer .categoriasContainer ul li {
  margin: 8px 12px;
  color: #787878;
  cursor: pointer;
  font-size: 12px;
  transition: transform 0.3s ease, color 0.3s ease;
}
body #section3 .equiposContainer .categoriasContainer ul li:hover {
  transform: scale(1.05);
  color: #454545;
}
body #section3 .equiposContainer .productosCarrousell {
  position: relative;
  width: 100%;
  overflow: hidden;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  width: 98%;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: auto;
  pointer-events: none;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer::-webkit-scrollbar {
  display: none;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer {
  margin: 2px;
  flex: 0 0 24.3%;
  border-radius: 5px;
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  background-color: #f8f8f8;
  overflow: hidden;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .imgContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .imgContainer img {
  width: 100%;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail {
  margin: 5px;
  white-space: nowrap;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoCategoria {
  font: 10px;
  margin: -3px 0px -1px 0px;
  color: #787878;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoTitle {
  display: flex;
  align-items: center;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoTitle .productoMarca {
  font-size: auto;
  padding-right: 6px;
  font-weight: 450;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoTitle .productoModelo {
  font-size: auto;
  font-weight: 350;
}
body #section3 .equiposContainer .productosCarrousell .productosContainer .productoContainer .productoDetail .productoPrecio {
  font-size: auto;
  font-weight: 500;
  color: rgb(15, 200, 15);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-left {
  position: absolute;
  left: 0;
  top: 45%;
  color: #c5c5c5;
  font-size: 24px;
  margin-left: 10px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-left:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-left:active {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-right {
  position: absolute;
  right: 0;
  top: 45%;
  color: white;
  font-size: 24px;
  margin-right: 11px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3764705882);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-right:hover {
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.5019607843);
}
body #section3 .equiposContainer .productosCarrousell .bx-chevron-right:active {
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5019607843);
}

body #section4 .clientesContainer {
  border: 1px solid rgb(229, 229, 229);
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin: 40px;
  backdrop-filter: blur(2px);
  padding-bottom: 45px;
  height: 100vh;
}
body #section4 .clientesContainer .titleClientes {
  margin: 15px 15px 0px 15px;
}
body #section4 .clientesContainer .titleClientes .titleSabemos {
  color: #003459;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
body #section4 .clientesContainer .textClientes {
  margin: 0px 15px 15px 15px;
  text-align: justify;
  color: #000000;
  font-size: 15px;
}
body #section4 .clientesContainer .opinionesContainer {
  margin: 15px;
  max-height: 60vh;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-container {
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  padding: 10px;
  height: 10%;
  display: flex;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-rating {
  padding-left: 20px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-review-background-container {
  border: solid 0.5px #c9c9c9;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.062745098);
  padding: 10px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .eWYNAh {
  margin-bottom: 8px;
}
body #section4 .clientesContainer .opinionesContainer .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html body footer {
  width: 100%;
  height: 90px;
  background-color: #003459;
}
html body .copyR {
  width: 100%;
  height: 13px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body .copyR p {
  font-family: "pixel";
  color: white;
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
