body {
  #section6 {
    .cartContainer {
      border: 1px solid rgb(229, 229, 229);
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      width: 80%;
      margin: 20px;
      backdrop-filter: blur(2px);
      padding-bottom: 15px;
      max-height: 110vh;
      height: 100%;
      overflow-y: hidden;
      overflow-x: hidden;
      .staticMobile {
        position: sticky;
        top: 0;
        z-index: 1;
        padding-bottom: 0px;
        overflow: hidden;
        .titleCartContainer {
          overflow-x: hidden;
          font-size: 18px;
          color: $azul;
          font-weight: bold;
          text-align: left;
          margin: 20px 20px 10px 20px;
          padding-bottom: 20px;
          border-bottom: 0.5px $clarito solid;
          display: flex;
          justify-content: space-between;
          .iconCarrito {
            display: flex;
            .fa-cart-shopping {
              color: $azul;
              transform: translateY(2px);
              margin-right: 5px;
            }
          }
          .items {
            display: flex;
            color: $grisTexto;
            padding-right: 8px;
            p {
              margin-left: 5px;
            }
          }
        }
        .headerCarrito {
          display: grid;
          grid-template-columns: repeat(6, 1fr) 1fr 1fr;
          align-items: center;
          color: $grisClaro;
          margin: 0px 40px;

          .productoHeader,
          .cantidadHeader,
          .precioHeader {
            p {
              margin: 0;
              font-size: 12px;
            }
          }
          .productoHeader {
            grid-column: span 6;
            text-align: left;
            padding-left: 5px;
          }
          .cantidadHeader {
            grid-column: span 1;
            text-align: center;
            padding-left: 32px;
          }
          .precioHeader {
            grid-column: span 1;
            padding-left: 40px;
          }
        }
      }
      .carritoContainer {
        max-height: 50vh;
        overflow-y: auto;
        #carrito {
          margin: 5px;
          overflow-y: auto;
          .productoContainer {
            display: flex;
            height: auto;
            align-items: center;
            border-bottom: 0.5px $clarito solid;
            .productoImgContainer {
              width: 20%;
              margin: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                border-radius: 5px;
                width: 80%;
                background-color: $claritoFondo;
                box-shadow: inset 0px 0px 3px 1px #00000010;
                cursor: pointer;
              }
            }
            .productoDetailContainer {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .productoDetailContainerMobile {
                display: flex;
                width: 100%;
                .bloque01 {
                  width: 80%;
                  display: flex;
                  .productoNombreContainer {
                    width: 50%;
                    p {
                      color: $grisTexto;
                      font-weight: 470;
                      white-space: nowrap;
                    }
                    .productoMarcaModelo {
                      display: flex;
                      width: 100%;
                      .marca {
                        font-size: auto;
                        font-weight: 400;
                      }
                      .modelo {
                        font-weight: 380;
                      }
                      p {
                        color: $grisTexto;
                        margin: 1px;
                      }
                    }
                  }
                  .productoDescrip {
                    margin: 5px;
                    font-size: 10px;
                    color: $grisClaro;
                    display: flex;
                    width: auto;
                  }
                }
                .bloque02 {
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  width: 30%;
                  .productosUnidadesContainer {
                    margin: 0px;
                    display: flex;
                    justify-content: center;
                    .productoUnidades {
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      width: 10%;
                      p {
                        margin: 4px;
                        color: $grisTexto;
                      }
                      .fa-circle-minus {
                        color: $grisClaro;
                        font-size: 12px;
                        cursor: pointer;
                      }
                      .fa-circle-plus {
                        color: $grisClaro;
                        font-size: 12px;
                        cursor: pointer;
                      }
                    }
                  }
                  .productoPrecio {
                    margin: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                      color: green;
                    }
                  }
                }
              }
            }
          }
          .noHayProductos {
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              color: $grisClaro;
            }
          }
        }
      }
      .totalCarritoContainer {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        margin: 10px;
        .totalCarrito {
          border-radius: 5px;
          width: auto;
          background-color: $claritoFondo;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 40px;
          p {
            font-size: 15px;
            margin: 0px 0px 0px 10px;
          }
          #totalCarrito {
            font-size: 20px;
            color: green;
            margin: 10px;
          }
        }
      }
      .comprarContainer {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        margin: 10px;
        cursor: pointer;
        .comprar {
          border-radius: 5px;
          width: 20%;
          height: 100%;
          background-color: $claritoFondo;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 40px;
          background-color: #3498db;
          box-shadow: inset 0px 0px 3px 1px #ffffff99,
            0 5px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.2s;
          &:hover {
            background-color: #52be80;
          }
          &:active {
            box-shadow: none;
            background-color: #2ecc71;
            box-shadow: inset 0px 0px 3px 1px #75757550;
          }
          p {
            color: $claritoFondo;
          }
        }
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    #section6 {
      .cartContainer {
        padding-bottom: 0px;
        max-height: 75vh;
        width: 90%;
        .staticMobile {
          .titleCartContainer {
            font-size: 16px;
            padding-bottom: 0px;
            overflow: hidden;
            margin: 10px 10px 5px 10px;
            .iconCarrito {
              .fa-cart-shopping {
                color: $azul;
                transform: translateY(2px);
                margin-right: 5px;
              }
            }
            .items {
              display: flex;
              color: $grisTexto;
              padding-right: 8px;
              p {
                margin-left: 5px;
              }
            }
          }
          .headerCarrito {
            display: grid;
            grid-template-columns: repeat(6, 1fr) 1fr 1fr 1fr;
            align-items: center;
            color: $grisClaro;
            margin: 0px ;
            // border: solid 1px red;
            .productoHeader,
            .cantidadHeader,
            .precioHeader {
              
              margin: 5px;
              p {
                font-size: 12px;
              }
            }
            .productoHeader {
              margin-left: 20px;
              padding-left: 0px;
              width: 80%;
            }
            .cantidadHeader {
              
              grid-column: span 1;
              text-align: center;
              padding: 0px;
              margin-right: 25px;
              margin-left: 0px;
            }
            .precioHeader {
              grid-column: span 1;
              text-align: center;
              margin-right: 0px;
              padding-left: 0px;
            }
          }
        }
        .carritoContainer {
          height: 100%;
          max-height: 50vh;
          overflow-y: auto;
          margin: 0px;
          #carrito {
            margin: 0px;
            position: relative;
            overflow-y: auto;
            overflow-x: hidden;
            .productoContainer {
              border-bottom: 0.5px $clarito solid;
              padding-bottom: 5px;
              margin-bottom: 5px;
              width: 100%;
              .productoImgContainer {
                width: 80px;
                margin: 0px;
                img {
                  border-radius: 1px;
                  width: 100%;
                }
              }
              .productoDetailContainer {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin: 0px 5px;
                .productoDetailContainerMobile {
                  display: flex;
                  .bloque01 {
                    display: block;
                    width: 60%;
                    margin: 0px;
                    .productoNombreContainer {
                      width: 100%;
                      .productoNombre {
                        padding: 0px;
                      }
                      p {
                        color: $grisTexto;
                        font-weight: 470;
                        white-space: nowrap;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                    }
                    .productoMarcaModelo {
                      display: flex;
                      width: 100%;
                      padding: 0px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      .marca {
                        font-size: auto;
                        font-weight: 400;
                      }
                      .modelo {
                        font-weight: 380;
                        width: auto;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      }
                      p {
                        color: $grisTexto;
                        margin: 0px;
                      }
                    }
                    .productoDescrip {
                      width: 100%;
                      font-size: 10px;
                      margin: 0px;
                    }
                  }
                  .bloque02 {
                    width: 40%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .productosUnidadesContainer {
                      .productoUnidades {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0px;
                        p {
                          margin: 0px;
                          color: $grisTexto;
                        }
                        .fa-circle-minus {
                          margin: 3px 0px;
                          color: $grisClaro;
                          font-size: 12px;
                          cursor: pointer;
                        }
                        .fa-circle-plus {
                          margin: 3px 0px;
                          color: $grisClaro;
                          font-size: 12px;
                          cursor: pointer;
                        }
                      }
                    }
                    .productoPrecioContainer {
                      .productoPrecio {
                        height: auto;
                        width: 100%;
                        margin: 2px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p {
                          color: green;
                          white-space: nowrap;
                        }
                      }
                    }
                  }
                }
              }
            }
            .noHayProductos {
              height: 120px;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                color: $grisClaro;
              }
            }
          }
        }
        .totalCarritoContainer {
          height: 40px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-align: right;
          margin: 10px;
          .totalCarrito {
            border-radius: 5px;
            width: auto;
            background-color: $claritoFondo;
            box-shadow: inset 0px 0px 3px 1px #00000010;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            p {
              font-size: 15px;
              margin: 0px 0px 0px 10px;
            }
            #totalCarrito {
              font-size: 20px;
              color: green;
              margin: 10px;
            }
          }
        }
        .comprarContainer {
          height: 40px;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-align: right;
          margin: 10px;
          cursor: pointer;
          .comprar {
            background-color: $claritoFondo;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            background-color: #3498db;
            box-shadow: inset 0px 0px 3px 1px #ffffff99,
              0 5px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.2s;
            &:hover {
              background-color: #52be80;
            }
            &:active {
              box-shadow: none;
              background-color: #2ecc71;
              box-shadow: inset 0px 0px 3px 1px #75757550;
            }
            p {
              color: $claritoFondo;
            }
          }
        }
      }
    }
  }
}
