body {
  #section6 {
    .cartContainer {
      border: 1px solid rgb(229, 229, 229);
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      width: 70%;
      margin: 40px;
      backdrop-filter: blur(2px);
      padding-bottom: 15px;
      .titleCart {
        overflow-x: hidden;
        font-size: 18px;
        color: $azul;
        font-weight: bold;
        text-align: left;
        margin: 10px;
      }
      #carrito {
        margin: 10px;
        .productoContainer {
          display: flex;
          height: auto;
          align-items: center;
          border-bottom: 0.5px $clarito solid;
          .productoImgContainer {
            width: 20%;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              border-radius: 5px;
              width: 100%;
              background-color: $claritoFondo;
              box-shadow: inset 0px 0px 3px 1px #00000010;
            }
          }
          .productoNombreContainer {
            width: 20%;
          }
          .productoDetailContainer {
            width: 100%;
            display: flex;
            align-items: center;
            .bloque01 {
              width: 30%;
              .productoNombreContainer {
                width: 100%;
                p {
                  color: $grisTexto;
                  font-weight: 470;
                  white-space: nowrap;
                }
              }
              .productoMarcaModelo {
                display: flex;
                width: 100%;
                .marca {
                  font-size: auto;
                  font-weight: 400;
                }
                .modelo {
                  font-weight: 380;
                }
                p {
                  color: $grisTexto;
                  margin: 1px;
                }
              }
            }
            .productoDescrip {
              width: 30%;
              margin: 2px;
              font-size: 10px;
              color: $grisClaro;
              // border: solid 1px red;
            }
            .productoUnidades {
              width: 10%;
              // border: solid 1px red;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 5px;

              p {
                margin: 4px;
                color: $grisTexto;
              }
              .fa-circle-minus {
                color: $grisClaro;
                font-size: 12px;
                cursor: pointer;
              }
              .fa-circle-plus {
                color: $grisClaro;
                font-size: 12px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
