body {
  #section4 {
    .clientesContainer {
      border: 1px solid rgb(229, 229, 229);
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      width: 70%;
      margin: 20px;
      backdrop-filter: blur(2px);
      padding-bottom: 45px;
      height: 100vh;
      .titleClientes {
        margin: 15px 15px 0px 15px;
        .titleSabemos {
          color: $azul;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .textClientes {
        margin: 0px 15px 15px 15px;
        text-align: justify;
        color: #000000;
        font-size: 15px;
      }
      .opinionesContainer {
        margin: 15px;
        max-height: 60vh; // Limita la altura del contenedor de reseñas
        .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183
          .es-header-container {
          border: solid 0.5px $clarito;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          padding: 10px;
          height: 10%;
          display: flex;
        }
        .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-rating {
          padding-left: 20px;
        }
        .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183
          .es-review-background-container {
          border: solid 0.5px $clarito;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          padding: 10px;
        }
        .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .eWYNAh {
          margin-bottom: 8px;
        }
        .elfsight-app-1cbcc4ce-5824-44dd-b8f7-7ca3dc986183 .es-header-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    #section4 {
      .clientesContainer {
        width: 75%;
        margin: 20px;
        margin-bottom: -5px;
        height: 75vh;
        .titleClientes {
          margin: 10px 10px 0px 10px;
          .titleSabemos {
            font-size: 18px;
            font-weight: 550;
          }
        }
        .textClientes {
          color: $grisTexto;
          font-size: 11px;
          margin: 0px 10px 0px 10px;
        }
        .opinionesContainer {
          margin: 10px;
          height: 70vh;
          overflow: hidden;
          .Main__Content-sc-1oq93m5-1 {
            .HeaderComponent__Top-sc-9lcg5s-2 {
              margin-bottom: 10px;
              position: static;
              .HeaderContainer__Inner-sc-1532ffp-0 {
                z-index: 5;
                padding: 2.5px;
                .HeaderInfoContainer__Info-sc-16jx15e-0 {
                  margin: 0px;
                  width: 100%;
                  justify-content: inherit;
                  .Icon__IconContainer-sc-11wrh3u-0 {
                    width: 70px;
                    .injected-svg {
                      width: 100%;
                    }
                  }
                  .HeaderRating__RatingContainer-sc-117jf4y-0 {
                    margin-left: 5px;
                    flex-wrap: nowrap;
                    .Rating__Container-sc-bk54oq-0 {
                      padding-left: 0px;
                      .RatingValue__Container-sc-fl6036-0 {
                        font-size: 15px;
                      }
                      .RatingBar__Container-sc-qimg51-0 {
                        width: auto;
                        .RatingItemFilledSvg__ContainerAbsolute-sc-14jss50-1 {
                          width: auto;
                          margin: 0px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
