#section4 {
  // height: 80vh;
  align-items: center; // Para centrar verticalmente el contenido
  height: 100%; // Para que ocupe toda la sección
  // overflow-y: auto;
  .clientesContainer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 850px;
    height: 120%; // Permitir que el contenedor crezca según su contenido
    min-height: 50vh; // Establece una altura mínima
    margin: 40px;
    margin: auto;
    backdrop-filter: blur(2px);
    flex-direction: column; // Asegurar que los elementos dentro se ordenen verticalmente
    justify-content: space-between; // Espaciado uniforme entre los elementos
    .titleClientes {
      margin: 15px;
      .titleSabemos {
        color: $azul;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 600;
      }
    }
    .textClientes {
      margin: 15px;
      text-align: justify;
      color: $grisTexto;
    }
    .buttonContainer {
      text-align: right;
      margin: 15px;
    }
    .opinionesContainer {
      margin: 15px;
      max-height: 60vh; // Limita la altura del contenedor de reseñas
    }
  }
}
