body {
  #section3 {
    .equiposContainerMain {
      border: 1px solid rgb(229, 229, 229);
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      width: 70%;
      margin: 20px;
      backdrop-filter: blur(2px);
      padding-bottom: 15px;
      overflow-x: hidden;
      .titleEquipos {
        margin: 15px 15px 0px 15px;
        .titleSabemos {
          color: $azul;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .textEquipos {
        margin: 0px 15px 15px 15px;
        text-align: justify;
        color: #000000;
        font-size: 15px;
      }
      .buscadorContainerEquipos {
        display: flex;
        justify-content: center;
        margin: 10px 0px 0px 0px;
        input {
          width: 60%;
          height: 30px;
          background-color: $claritoFondo;
          border: solid 0.5px $clarito;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          border-radius: 20px;
          outline: none;
          padding-left: 15px;
          font-size: 17px;
          color: $grisTexto;
          &::placeholder {
            color: $grisClaro;
          }
        }
      }
      .categoriasContainer {
        display: flex;
        justify-content: center;
        .categoriasContainerBloque01{
          display:flex;
        }
        .categoriasContainerBloque02{
          display: flex;
        }
        ul {
          display: flex;
          li {
            margin: 8px 12px;
            color: $grisTexto;
            cursor: pointer;
            font-size: 12px;
            transition: transform 0.3s ease, color 0.3s ease;
            &:hover {
              transform: scale(1.05);
              color: darken($grisTexto, 20%);
            }
          }
        }
      }
      .equiposCarrousell {
        position: relative;
        width: 100%;
        overflow: hidden;
        pointer-events: auto;

        .equiposContainer {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: nowrap;
          width: 98%;
          position: relative;
          overflow-x: hidden;
          scroll-behavior: smooth;
          margin: auto;
          pointer-events: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .noHayEquipos {
            width: 100%;
            min-height: 30vh;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              color: $grisClaro;
            }
          }
          .equipoContainer {
            margin: 2px;
            flex: 0 0 24.3%;
            border-radius: 5px;
            border: solid 0.5px $clarito;
            box-shadow: inset 0px 0px 3px 1px #00000010;
            background-color: $claritoFondo;
            overflow: hidden;
            .imgContainer {
              box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
              pointer-events: auto;
              img {
                cursor: pointer;
                width: 100%;
              }
            }
            .equipoDetail {
              margin: 5px;
              white-space: nowrap;
              .equipoCategoria {
                font: 10px;
                margin: -3px 0px -1px 0px;
                color: $grisTexto;
              }
              .equipoTitle {
                display: flex;
                align-items: center;
                .equipoMarca {
                  font-size: auto;
                  padding-right: 6px;
                  font-weight: 450;
                }
                .equipoModelo {
                  font-size: auto;
                  font-weight: 350;
                }
              }
              .equipoPrecioContainer {
                display: flex;
                .equipoPrecio {
                  font-size: auto;
                  font-weight: 500;
                  color: rgb(15, 200, 15);
                }
                .equipoPrecioCart {
                  margin-left: 5px;
                  pointer-events: auto;
                  .fa-cart-plus {
                    font-size: 14px;
                    color: rgb(56, 162, 208);
                    cursor: pointer;
                    transform: translateY(-1px);
                  }
                }
              }
            }
          }
        }
        .bx-chevron-left {
          position: absolute;
          left: 0;
          top: 45%;
          color: $grisClaro;
          font-size: 24px;
          margin-left: 10px;
          color: white;
          background-color: rgb(0, 0, 0);
          border-radius: 50%;
          opacity: 0.3;
          cursor: pointer;
          box-shadow: 0px 0px 5px 3px #00000060;
          &:hover {
            box-shadow: 0px 0px 7px 3px #00000080;
          }
          &:active {
            box-shadow: 0px 0px 5px 3px #00000080;
          }
        }
        .bx-chevron-right {
          position: absolute;
          right: 0;
          top: 45%;
          color: white;
          font-size: 24px;
          margin-right: 11px;
          color: white;
          background-color: rgb(0, 0, 0);
          border-radius: 50%;
          opacity: 0.3;
          cursor: pointer;
          box-shadow: 0px 0px 5px 3px #00000060;
          &:hover {
            box-shadow: 0px 0px 7px 3px #00000080;
          }
          &:active {
            box-shadow: 0px 0px 4px 3px #00000080;
          }
        }
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    #section3 {
      height: auto;
      .equiposContainerMain {
        overflow-y: auto;
        width: 75%;
        margin: 20px 0px;
        padding-bottom: 0px;
        justify-content: center;
        max-height: 70vh ;

        .staticMobile {
          position: sticky;
          top: 0;
          z-index: 1;
          padding-bottom: 5px;
          .titleEquiposContainer {
            margin: 10px 10px 0px 10px;
            .titleEquipos {
              font-size: 18px;
              font-weight: 550;
            }
          }
          .textEquipos {
            color: $grisTexto;
            font-size: 11px;
            margin: 0px 10px 0px 10px;
          }
          .buscadorContainerEquipos {
            margin: 0px;
            input {
              width: 80%;
              height: 30px;
              margin: 5px;
              &::placeholder {
                color: $grisClaro;
              }
            }
          }
          .categoriasContainer {
            display: flex;
            justify-content: center;
            ul {
              display: flex;
              flex-direction: column;
              .categoriasContainerBloque01 {
                display: flex;
              }
              .categoriasContainerBloque02 {
                display: flex;
              }
              li {
                margin: 2px 5px;
                font-size: 10px;
                &:hover {
                }
              }
            }
          }
        }
        .equiposCarrousell {
          width: 100%;
          height: 52vh;
          overflow-y: auto;
          // border: solid 1px red;
          position: relative;
          .equiposContainer {
            // border:solid 1px blue;
            flex-direction: column;
            flex-wrap: nowrap;
            width: 100%;
            position: relative;
            overflow-y: auto;
            overflow-x: auto;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: block;
            }
            .noHayEquipos {
              width: 100%;
              min-height: 30vh;
              display: flex;
              align-items: center;
              justify-content: center;
              p {
                color: $grisClaro;
              }
            }
            .equipoContainer {
              width: 50%;
              margin: 5px;
              flex: auto;
              overflow-x: hidden;
              .imgContainer {
                width: 100%;
                img {
                  width: 100%;
                }
              }
              // .equipoDetail {
              //   display: block;
              //   margin: 3px 5px;
              //   white-space: nowrap;
              //   .equipoNombre {
              //     font-size: auto;
              //     padding-right: 3px;
              //     font-weight: 450;
              //     white-space: nowrap;
              //     overflow: hidden;
              //     text-overflow: ellipsis;
              //     max-width: 100%;
              //     .equipoMarca {
              //       font-size: auto;
              //       font-weight: 400;
              //     }
              //   }
              // }
              // .equipoPrecioContainer {
              //   display: flex;
              //   margin: 3px 5px;
              //   .equipoPrecio {
              //     font-size: auto;
              //     font-weight: 500;
              //     color: rgb(15, 200, 15);
              //   }
              //   .equipoPrecioCart {
              //     margin-left: 5px;
              //     pointer-events: auto;
              //     .fa-cart-plus {
              //       font-size: 14px;
              //       color: rgb(56, 162, 208);
              //       cursor: pointer;
              //       transform: translateY(-1px);
              //     }
              //   }
              // }
            }
          }
          .bx-chevron-left {
            display: none;
          }
          .bx-chevron-right {
            display: none;
          }
        }
      }
    }
  }
}