body {
  #section3 {
    .equiposContainer {
      border: 1px solid rgb(229, 229, 229);
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      width: 70%;
      min-height: 50vh;
      margin: 40px;
      backdrop-filter: blur(2px);
      padding-bottom: 15px;
      border: solid 1px red;
      .titleEquipos {
        margin: 15px 15px 0px 15px;
        .titleSabemos {
          color: $azul;
          text-transform: uppercase;
          font-size: 35px;
          font-weight: 600;
        }
      }
      .textEquipos {
        margin: 0px 15px 15px 15px;
        text-align: justify;
        color: #000000;
        font-size: 20px;
      }
      .buscadorContainer {
        display: flex;
        justify-content: center;
        margin: 20px;
        input {
          width: 60%;
          height: 40px;
          background-color: $claritoFondo;
          border: solid 0.5px $clarito;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          border-radius: 20px;
          outline: none;
          padding-left: 15px;
        }
      }
      .productosContainer {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border: solid 1px red;
        .productoContainer {
          width: 250px;
          height: 150%;
          border: solid 1px white;
          border-radius: 15px;
          overflow: hidden;
          border: solid 0.5px $clarito;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          background-color: $claritoFondo;
          .imgContainer {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

            img {
              width: 100%;
            }
          }
          .productoDetail {
            margin: 8px;
            .productoTitle {
              display: flex;
              align-items: center;
              .productMarca {
                font-size: 18px;
                padding-right: 8px;
                font-weight: 450;
              }
              .productModelo {
                font-size: 18px;
                font-weight: 350;
              }
            }
            .productoPrecio {
              font-size: 20px;
              font-weight: 500;
              color: rgb(15, 200, 15);
            }
          }
        }
      }
    }
  }
}
