html {
  body {
    footer {
      width: 100%;
      height: 90px;
      background-color: $azul;
      display: flex;
      justify-content: space-around;
      .primerBloque {
        width: 25%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 70%;
        }
      }
      .segundoBloque {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        p {
          color: $claritoFondo;
        }
        img {
          width: 30px;
          transform: translateY(-4px);
        }
      }
      .tercerBloque {
        width: 30%;
        height: auto;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          i {
            color: $claritoFondo;
            margin: 5px;
            cursor: pointer;
          }
          .fa-location-dot {
            font-size: 27px;
            margin: 10px;
          }
        }
      }
    }
    .copyR {
      width: 100%;
      height: 13px;
      background-color: $grisClaro;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        font-family: "pixel";
        color: $grisTexto;
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 737px) {
  html {
    body {
      footer {
        .primerBloque {
          display: none;
        }
        .segundoBloque {
          width: 50%;
          font-size: 12px;
          justify-content: flex-end;
        }
        .tercerBloque {
          width: 50%;
          height: auto;
          font-size: 35px;
          display: flex;
          justify-content: center;
    
          a {
            i {
              color: $claritoFondo;
              margin: 5px;
              cursor: pointer;
            }
            .fa-location-dot {
              font-size: 27px;
              margin: 10px;
            }
          }
        }
      }
      .copyR {
        width: 100%;
        height: 13px;
        background-color: $grisClaro;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-family: "pixel";
          color: $grisTexto;
          font-size: 10px;
        }
      }
    }
  }
}
