html {
  body {
  footer {
    width: 100%;
    height: 90px;
    background-color: $azul;
  }
  .copyR {
    width: 100%;
    height: 13px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-family: "pixel";
      color: white;
      font-size: 10px;
    }
  }
}
}