html {
  min-height: 160vh;
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  body {
    height: 100%;
    background-image: url("../assets/img/fondo.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
    display: flex;
    flex-direction: column;
    nav {
      width: 100%;
      height: 60px;
      background-color: $azul;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .logoContainer {
        margin-left: 30px;
        img {
          width: 150px;
          object-fit: cover;
        }
      }
      .navMid {
        display: flex;
        justify-content: flex-end;
        width: 70%;
        ul {
          display: flex;
          align-items: center;
          li {
            color: $claritoFondo;
            display: flex;
            margin: 10px;
            cursor: pointer;
            font-weight: 400;
          }
        }
        .navEnd {
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            margin: 15px;
            font-size: 23px;
            color: $claritoFondo;
            cursor: pointer;
          }
          .cartContainer {
            position: relative;
            cursor: pointer;
            .cartCircle {
              position: absolute;
              width: 15px;
              height: 15px;
              background-color: #b3b3b3;
              border-radius: 50%;
              top: 30%;
              right: 32%;
              transform: translate(50%, -50%);
              span {
                color: $claritoFondo;
                font-size: 10px;
                font-weight: 650;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
    main {
      flex: 1;
    }
  }
}
@media (max-width: 737px) {
  html {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;

    body {
      height: 100vh;
      background-image: url("../assets/img/fondo.jpg");
      background-position: center;
      background-repeat: repeat-y;
      background-size: cover;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      nav {
        width: 100%;
        height: 99px;
        background-color: $azul;
        display: block;
        justify-content: space-around;
        align-items: center;
        position: relative;
        .logoContainer {
          margin: 5px;
          img {
            width: 150px;
            object-fit: cover;
          }
        }
        .navMid {
          display: block;
          justify-content: center;
          width: 100%;
          ul {
            display: flex;
            align-items: center;
            justify-content: center;
            li {
              color: $claritoFondo;
              display: flex;
              margin: 10px;
              cursor: pointer;
              font-weight: 400;
            }
          }
          .navEnd {
            position: absolute;
            top: 0;
            right: 0;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
            }
            .cartContainer {
              .cartCircle {
                span {
                }
              }
            }
          }
        }
      }
      main {
      }
    }
  }
}
