html {
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  body {
    height: auto;
    background-image: url("../assets/img/fondo.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: auto;
    
    nav {
      width: 100%;
      height: 80px;
      background-color: $azul;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .logoContainer {
        img {
          width: 200px;
          object-fit: cover;
        }
      }
      ul {
        display: flex;
        align-items: center;
        li {
          color: white;
          display: flex;
          margin: 15px;
          cursor: pointer;
          font-weight: 450;
        }
      }
    }
  }
}
@media (max-width: 737px) {
  body {
    nav {
      display: block;
      height: auto;
      .logoContainer {
        text-align: center;
        img {
          padding-top: 10px;
          width: 150px;
        }
      }
      ul {
        justify-content: center;
        li {
          display: flex;
          margin: 8px;
          cursor: pointer;
        }
      }
    }
  }
}
