body {
  .sectionsContainer {
    width: 100%;
    border: solid 5px black;
    overflow: hidden;
    .sections {
      display: flex;
      width: 400%;
      transition: transform 1s ease;
      .section {
        width: 100vw;
        transition: opacity 0.5s ease, transform 2s ease;
        display: none;
        &.active {
          // opacity: 1;
          // transform: translateX(0);
          display: block;
        }
        &:not(.active) {
          // opacity: 0;
          display: none;
          // transform: translateX(100%);
        }
      }
    }
  }
}

@media (max-width: 737px) {
}
