@keyframes exit-left-animation {
  0% {
    transform: scale(1) translateX(0); 
  }
  50% {
    transform: scale(0.95) translateX(0); 
  }
  100% {
    transform: scale(0.9) translateX(-100%); 
  }
}


.sectionsContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Asegura que cada sección ocupe toda la altura de la pantalla */
  overflow: hidden;
  .section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8) translateX(150%);
    transition: transform 2s ease;
    &.active {
      opacity: 1;
      transform: scale(1) translateX(0);
    }

    &.exit-left {
      opacity: 0;
      animation: exit-left-animation 1.5s ease forwards;
      transition: transform 3s, opacity 3s;
    }

    &.enter-right {
      opacity: 1;
      animation: enter-right-animation;
      transform: scale(0.8) translateX(100%);
      transition: transform 1.5s, opacity 3s ease; /* Aparece después de que la otra sección se haya ido */
    }
  }
}

@media (max-width: 737px) {
}
