body {
  #section1 {
    .serviceContainer {
      border: 1px solid rgb(229, 229, 229);
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      width: 70%;
      margin: 20px;
      backdrop-filter: blur(2px);
      padding-bottom: 15px;
      overflow-x: hidden;
      height: 100%;
      .titleServiceContainer {
        margin: 15px 15px 0px 15px;
        .titleService {
          color: $azul;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .textService {
        margin: 0px 15px 15px 15px;
        text-align: justify;
        color: #000000;
        font-size: 15px;
      }
      .serviceMarcasCarrousel {
        position: relative;
        width: 100%;
        overflow: hidden;
        .serviceMarcasContainer {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: nowrap;
          width: 99.9%;
          position: relative;
          overflow-x: auto;
          scroll-behavior: smooth;
          margin: auto;
          pointer-events: none;
          &::-webkit-scrollbar {
            display: none;
          }
          .marcaContainer {
            margin: 2px;
            flex: 0 0 24.3%;
            border-radius: 5px;
            border: solid 0.5px $clarito;
            box-shadow: inset 0px 0px 3px 1px #00000010;
            background-color: $claritoFondo;
            overflow: hidden;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              filter: sepia(1) saturate(0) brightness(0.5);
            }
          }
        }
        .bx-chevron-left {
          position: absolute;
          left: 0;
          top: 45%;
          color: $grisClaro;
          font-size: 24px;
          margin-left: 10px;
          color: white;
          background-color: rgb(0, 0, 0);
          border-radius: 50%;
          opacity: 0.1;
          cursor: pointer;
          box-shadow: 0px 0px 5px 3px #00000060;
          &:hover {
            box-shadow: 0px 0px 7px 3px #00000080;
          }
          &:active {
            box-shadow: 0px 0px 5px 3px #00000080;
          }
        }
        .bx-chevron-right {
          position: absolute;
          right: 0;
          top: 45%;
          color: white;
          font-size: 24px;
          margin-right: 11px;
          color: white;
          background-color: rgb(0, 0, 0);
          border-radius: 50%;
          opacity: 0.1;
          cursor: pointer;
          box-shadow: 0px 0px 5px 3px #00000060;
          &:hover {
            box-shadow: 0px 0px 7px 3px #00000080;
          }
          &:active {
            box-shadow: 0px 0px 4px 3px #00000080;
          }
        }
      }
    }
  }
}

@media (max-width: 737px) {
  body {
    #section1 {
      .serviceContainer {
        width: 75%;
        pointer-events: auto;
        margin: 20px 0px;
        padding-bottom: 10px;
        .titleServiceContainer {
          margin: 10px 10px 0px 10px;
          .titleService {
            font-size: 18px;
            font-weight: 550;
          }
        }
        .textService {
          margin: 0px 10px 0px 10px;
          font-size: 12px;
        }
        .titleServiceContainer {
          .titleService {
            font-size: 12px;
          }
        }

        .serviceMarcasCarrousel {
          position: relative;
          width: 100%;
          overflow: hidden;
          pointer-events: auto;
          .serviceMarcasContainer {
            pointer-events: auto;
            display: flex;
            overflow: hidden;
            touch-action: pan-x; /* Habilitar desplazamiento táctil horizontal */
            .marcaContainer {
              flex: 0 0 23.4%;
              height: 60px;
              pointer-events: auto;
              img {
                width: 100%;
                filter: sepia(1) saturate(0) brightness(0.5);
              }
            }
          }
          .bx-chevron-left {
            display: none;
          }
          .bx-chevron-right {
            display: none;
          }
        }
      }
    }
  }
}
