body {
  #section5 {
    .userContainer {
      border: 1px solid rgb(229, 229, 229);
      border-radius: 20px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      width: 50%;
      margin: 40px;
      backdrop-filter: blur(2px);
      padding-bottom: 15px;
      overflow-x: hidden;
      .titleUser {
        font-size: 18px;
        color: $azul;
        font-weight: bold;
        text-align: center;
        margin-top: 25px;
      }
      .formsLogin {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        .inputUser {
          width: 70%;
          height: 27px;
          background-color: $claritoFondo;
          border: solid 0.5px $clarito;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          border-radius: 20px;
          outline: none;
          padding-left: 15px;
          font-size: 17px;
          color: $grisTexto;
          margin-top: 15px;
          &::placeholder {
            color: $grisClaro;
          }
        }
        .olvideMiContra {
          font-size: 10px;
          margin-top: 10px;
          color: rgb(82, 7, 179);
          text-decoration: underline;
          text-decoration-color: rgb(
            82,
            7,
            179
          ); 
          text-decoration-thickness: 0.7px; 
          text-underline-offset: 1px;
          cursor: pointer;
        }
        .login {
          width: 70%;
          height: 27px;
          background: linear-gradient(90deg, #003459, #001b28, #003459);
          border: solid 0.5px $clarito;
          box-shadow: inset 0px 0px 3px 1px #00000010;
          border-radius: 20px;
          outline: none;
          font-size: 17px;
          color: $claritoFondo;
          margin-top: 15px;
          cursor: pointer;
          transition: all 0.3s ease;
          text-align: center;
          &:hover {
            transform: translateY(0.5px);
          }

          &:active {
            background: linear-gradient(90deg, #001b28, #003459, #001b28);
            transform: translateY(0px);
          }
        }
      }
    }
  }
}
