$azul: #003459;
$grisTexto: #2e2e2e;
$clarito: #c9c9c9;
$claritoFondo: #f8f8f8;

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "roboto"
}

@font-face {
  font-family: "pixel";
  src: url("../../assets/font/VCR_OSD_MONO_1.001.ttf");
}